In [1]:
#import libs
import numpy as np
import pandas
import matplotlib.pyplot as plt
import csv
from tqdm import tqdm_notebook as tqdm
import os
#!!! if lib is not installed call "!pip install <libname>" in jupyter

In [2]:
#import libs
# Python 2 and 3 compatibility
# pip install future
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)
# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

# будем отображать графики прямо в jupyter'e
%pylab inline

#увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 8, 5
import seaborn as sns

#!!! if lib is not installed call "!pip install <libname>" in jupyter

Populating the interactive namespace from numpy and matplotlib

In [3]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly
import plotly.graph_objs as go
import plotly.tools as tls
init_notebook_mode(connected=True)

In [4]:
#reading and merging t1 and t4
#!!!in t4.csv Gender values manually changed from {М,Ж} to {M,F}!!!
dfheat = pandas.read_csv('t1.csv',sep=";|,", engine="python")
dfclients = pandas.read_csv('t4.csv',sep=";|,", engine="python",encoding="utf-8")

#next line because 'CLIENT_HASH_ID' in dfheat is surrounded with double quotes, but in dfclients it does not
dfclients['CLIENT_HASH_ID']='"' + dfclients['CLIENT_HASH_ID'] + '"'

dfheat['GENDER'] = dfheat.CLIENT_HASH_ID.map(dfclients.set_index('CLIENT_HASH_ID')['GENDER'].to_dict())
dfheat['F1'] = dfheat.CLIENT_HASH_ID.map(dfclients.set_index('CLIENT_HASH_ID')['F1'].to_dict())
dfheat['AGE'] = dfheat.CLIENT_HASH_ID.map(dfclients.set_index('CLIENT_HASH_ID')['AGE'].to_dict())

In [5]:
#copy from here
labels = {'TRN_CNT_AVIA','TRN_CNT_ASRV','TRN_CNT_APTK','TRN_CNT_AURT','TRN_CNT_GSRV','TRN_CNT_DOMS','TRN_CNT_OTHR',
'TRN_CNT_ZHDT','TRN_CNT_ZOOS','TRN_CNT_GAME','TRN_CNT_ARTS','TRN_CNT_KCSH','TRN_CNT_KINO','TRN_CNT_BOOK','TRN_CNT_CMSV',
'TRN_CNT_BEAU','TRN_CNT_MEDC','TRN_CNT_MUSC','TRN_CNT_EDUC','TRN_CNT_CLTH','TRN_CNT_HOTL','TRN_CNT_ENTR','TRN_CNT_RSTR',
'TRN_CNT_SPRT','TRN_CNT_SUPM','TRN_CNT_TELE','TRN_CNT_FUEL','TRN_CNT_TRAN','TRN_CNT_FLOW','TRN_CNT_JEWL','TRN_CNT_DUTF',
'TRN_AMNT_AVIA','TRN_AMNT_ASRV','TRN_AMNT_APTK','TRN_AMNT_AURT','TRN_AMNT_GSRV','TRN_AMNT_DOMS','TRN_AMNT_OTHR',
'TRN_AMNT_ZHDT','TRN_AMNT_ZOOS','TRN_AMNT_GAME','TRN_AMNT_ARTS','TRN_AMNT_KCSH','TRN_AMNT_KINO','TRN_AMNT_BOOK',
'TRN_AMNT_CMSV','TRN_AMNT_BEAU','TRN_AMNT_MEDC','TRN_AMNT_MUSC','TRN_AMNT_EDUC','TRN_AMNT_CLTH','TRN_AMNT_HOTL',
'TRN_AMNT_ENTR','TRN_AMNT_RSTR','TRN_AMNT_SPRT','TRN_AMNT_SUPM','TRN_AMNT_TELE','TRN_AMNT_FUEL','TRN_AMNT_TRAN',
'TRN_AMNT_FLOW','TRN_AMNT_JEWL','TRN_AMNT_DUTF',
'DBO_PAY_CNT_MOBL','DBO_PAY_CNT_ZHKH','DBO_PAY_CNT_COMS','DBO_PAY_CNT_EDUC','DBO_PAY_CNT_WALT','DBO_PAY_CNT_CREDS',
'DBO_PAY_CNT_GOSP','DBO_PAY_CNT_INSH','DBO_PAY_CNT_MLM','DBO_PAY_CNT_OTHR',
'DBO_PAY_AMNT_MOBL','DBO_PAY_AMNT_ZHKH','DBO_PAY_AMNT_COMS','DBO_PAY_AMNT_EDUC','DBO_PAY_AMNT_WALT','DBO_PAY_AMNT_CREDS',
'DBO_PAY_AMNT_GOSP','DBO_PAY_AMNT_INSH','DBO_PAY_AMNT_MLM','DBO_PAY_AMNT_OTHR'
}

In [6]:
months = ['"2015-01-01 00:00:00"', '"2015-02-01 00:00:00"',
       '"2015-03-01 00:00:00"', '"2015-04-01 00:00:00"',
       '"2015-05-01 00:00:00"', '"2015-06-01 00:00:00"',
       '"2015-07-01 00:00:00"', '"2015-08-01 00:00:00"',
       '"2015-09-01 00:00:00"', '"2015-10-01 00:00:00"',
       '"2015-11-01 00:00:00"', '"2015-12-01 00:00:00"',
       '"2016-01-01 00:00:00"', '"2016-02-01 00:00:00"',
       '"2016-03-01 00:00:00"', '"2016-04-01 00:00:00"',
       '"2016-05-01 00:00:00"', '"2016-06-01 00:00:00"',
       '"2016-07-01 00:00:00"']

In [7]:
marketing_classes = [nan, '018d34d8d97fe30fd4347602b8031ec4',
       '0e521f30657448f205ecf7a46e4105c0',
       '1254981c914a2f3b05de147071f7e9d9',
       '14aa590a6630a7dd9a4233b8b8182100',
       '1ca2d30ce0631cee23b98dfc2d24bdcf',
       '263c6b32daca30743034adbd1f68a5fc',
       '309e6b5acaa01d889ed303cf65a72dbe',
       '381b0b043094c8cf1fc0e5ecd17a4461',
       '385043f3881c79a5959ab4c3145f8aa8',
       '3c423cf4f2bdd61e4dc739b26d945709',
       '3dfbcfdf96da35c17688cd96b5a94578',
       '5213e792098c90e356b18861f64570af',
       '6ede6f872f8d56aa83876b96bcde60d4',
       '71e1e42d79887c04b571828357d5f37e',
       '7d33c54b3363042d090cb011b215279c',
       '8215444bab327ec0f170d0ef7296c026',
       '8df3acb67e47faaeb753cc9a4c6ced3e',
       '94a7532568244c10541472dffb66f1f1',
       '95f6593eafb80e2b9d138cbee39c89b0',
       '96ef29bcab993c1a6eff79d066cfe894',
       '974e283779718b032e7845eda467b157',
       '97fa64500457edb6fe17b0acdaf218b2',
       'a1fffaa77ff30165958613b698dc8fd5',
       'ac02849f665b4380fc99f9d0e335d076',
       'b628d7d2ba91a097a131c51788e8c4ea',
       'b871449af47f30db11ef29b52e39819d',
       'bac64815dc7b441809c1d4de833ef9fd',
       'db96a8c8cf0715541dd5d9fd96529ac4',
       'ea77621ec0b8418bfa7b81253ab7d321',
       'fe413a3ae1fa1e6e1b7508863bf7ad0d']

In [ ]:
dict={}
for month in tqdm(months):
    dict[month]={}
    for clas in marketing_classes:
        dict[month][clas]=0
    d = dfheat.loc[(dfheat['REPORT_MONTH']==month) & (dfheat['ACTIVE_FLAG']==1)]
    for index, row in tqdm(d.iterrows()):
        dict[month][row['F1']] += 1

In [ ]:
df = pandas.DataFrame(columns=marketing_classes)
for month in tqdm(months):
    df.loc[month.strip('"').split(' ')[0]] = [0] * len(marketing_classes)
    for clas in marketing_classes:
        df.loc[month.strip('"').split(' ')[0]][clas] = dict[month][clas]

In [ ]:
#HISTO FOR NONACTIVE

In [ ]:
d = dfheat.loc[(dfheat['REPORT_MONTH']==months[-1]) & (dfheat['ACTIVE_FLAG']==0)]
t = dfheat.loc[dfheat['CLIENT_HASH_ID'].isin(unique(d['CLIENT_HASH_ID']))]

In [ ]:
dfheat = t
for month in months:
    d = dfheat.loc[dfheat['REPORT_MONTH']==month]
    d.to_csv(os.getcwd()+"\\CSV\\NonActive\\"+month.strip('"').split(' ')[0]+"NonActive.csv")

In [ ]:
for month in tqdm(months):
    dfheat = pandas.read_csv(os.getcwd()+"\\CSV\\NonActive\\"+ month.strip('"').split(' ')[0]+"NonActive.csv" ,sep=";|,", engine="python")
    dict={}
    for cat in tqdm(marketing_classes):
        dict[cat]={}
        for trtype in labels:
            dict[cat][trtype] = 0
            
    for index, row in tqdm(dfheat.iterrows()):
        for trtype in labels:
            dict[row['F1']][trtype] += row[trtype]
            
    df = pandas.DataFrame(columns=('type', 'F1', 'val'))
    for cat in tqdm(dict):
        for type in dict[cat]:
            df.loc[len(df)] = [type, cat, dict[cat][type]]
    df.to_csv(os.getcwd()+"\\CSV\\heatcsv\\NonActive\\"+month.strip('"').split(' ')[0]+"NonActiveHeat.csv")

In [ ]:
for month in tqdm(months):
    df = pandas.read_csv(os.getcwd()+"\\CSV\\heatcsv\\NonActive\\"+month.strip('"').split(' ')[0]+"NonActiveHeat.csv")
    ############################
    #print TRN_CNT heatmap
    #selected columns
    coltest = ['TRN_CNT_AVIA','TRN_CNT_ASRV','TRN_CNT_APTK','TRN_CNT_AURT','TRN_CNT_GSRV','TRN_CNT_DOMS','TRN_CNT_OTHR',
    'TRN_CNT_ZHDT','TRN_CNT_ZOOS','TRN_CNT_GAME','TRN_CNT_ARTS','TRN_CNT_KCSH','TRN_CNT_KINO','TRN_CNT_BOOK','TRN_CNT_CMSV',
    'TRN_CNT_BEAU','TRN_CNT_MEDC','TRN_CNT_MUSC','TRN_CNT_EDUC','TRN_CNT_CLTH','TRN_CNT_HOTL','TRN_CNT_ENTR','TRN_CNT_RSTR',
    'TRN_CNT_SPRT','TRN_CNT_SUPM','TRN_CNT_TELE','TRN_CNT_FUEL','TRN_CNT_TRAN','TRN_CNT_FLOW','TRN_CNT_JEWL','TRN_CNT_DUTF'
    ]
    #dftest is a part of dataset created above
    dftest = pandas.DataFrame(columns=('type', 'F1', 'val'))
    
    for index, row in tqdm(df.iterrows()):
        if(row['type'] in coltest):
            dftest.loc[len(dftest)] = row
            continue
            
    #plot heatmap   
    fig, ax = plt.subplots(figsize=(40,40)) 
    platform_genre_sales = dftest.pivot_table(
                            index='type', 
                            columns='F1', 
                            values='val', 
                            aggfunc=sum).fillna(0).applymap(float)
    temp = sns.heatmap(platform_genre_sales, annot=True, fmt=".1f", linewidths=.5, ax=ax, cmap="gist_stern")
    fig.savefig(os.getcwd()+"\\Maps\\NonActive\\TRN_CNT\\"+month.strip('"').split(' ')[0]+"_TRN_CNT.png")
    ############################
    #print TRN_AMN heatmap
    #selected columns
    coltest = ['TRN_AMNT_AVIA','TRN_AMNT_ASRV','TRN_AMNT_APTK','TRN_AMNT_AURT','TRN_AMNT_GSRV','TRN_AMNT_DOMS','TRN_AMNT_OTHR',
    'TRN_AMNT_ZHDT','TRN_AMNT_ZOOS','TRN_AMNT_GAME','TRN_AMNT_ARTS','TRN_AMNT_KCSH','TRN_AMNT_KINO','TRN_AMNT_BOOK',
    'TRN_AMNT_CMSV','TRN_AMNT_BEAU','TRN_AMNT_MEDC','TRN_AMNT_MUSC','TRN_AMNT_EDUC','TRN_AMNT_CLTH','TRN_AMNT_HOTL',
    'TRN_AMNT_ENTR','TRN_AMNT_RSTR','TRN_AMNT_SPRT','TRN_AMNT_SUPM','TRN_AMNT_TELE','TRN_AMNT_FUEL','TRN_AMNT_TRAN',
    'TRN_AMNT_FLOW','TRN_AMNT_JEWL','TRN_AMNT_DUTF'
    ]
    #dftest is a part of dataset created above
    dftest = pandas.DataFrame(columns=('type', 'F1', 'val'))
    
    for index, row in tqdm(df.iterrows()):
        if(row['type'] in coltest):
            dftest.loc[len(dftest)] = row
            continue
    #plot heatmap   
    fig, ax = plt.subplots(figsize=(50,40)) 
    platform_genre_sales = dftest.pivot_table(
                            index='type', 
                            columns='F1', 
                            values='val', 
                            aggfunc=sum).fillna(0).applymap(float)
    temp = sns.heatmap(platform_genre_sales, annot=True, fmt=".1f", linewidths=.5, ax=ax, cmap="gist_stern")
    fig.savefig(os.getcwd()+"\\Maps\\NonActive\\TRN_AMNT\\"+month.strip('"').split(' ')[0]+'_TRN_AMNT.png')
    ############################
    #print DBO_CNT heatmap
    #selected columns
    coltest = ['DBO_PAY_CNT_MOBL','DBO_PAY_CNT_ZHKH','DBO_PAY_CNT_COMS','DBO_PAY_CNT_EDUC','DBO_PAY_CNT_WALT','DBO_PAY_CNT_CREDS',
    'DBO_PAY_CNT_GOSP','DBO_PAY_CNT_INSH','DBO_PAY_CNT_MLM','DBO_PAY_CNT_OTHR',
    ]
    #dftest is a part of dataset created above
    dftest = pandas.DataFrame(columns=('type', 'F1', 'val'))
    
    for index, row in tqdm(df.iterrows()):
        if(row['type'] in coltest):
            dftest.loc[len(dftest)] = row
            continue
    #plot heatmap   
    fig, ax = plt.subplots(figsize=(40,30)) 
    platform_genre_sales = dftest.pivot_table(
                            index='type', 
                            columns='F1', 
                            values='val', 
                            aggfunc=sum).fillna(0).applymap(float)
    temp = sns.heatmap(platform_genre_sales, annot=True, fmt=".1f", linewidths=.5, ax=ax, cmap="gist_stern")
    fig.savefig(os.getcwd()+"\\Maps\\NonActive\\DBO_CNT\\"+month.strip('"').split(' ')[0]+"_DBO_CNT.png")
    ############################
    #print DBO_AMNT heatmap
    #selected columns
    coltest = ['DBO_PAY_AMNT_MOBL','DBO_PAY_AMNT_ZHKH','DBO_PAY_AMNT_COMS','DBO_PAY_AMNT_EDUC','DBO_PAY_AMNT_WALT','DBO_PAY_AMNT_CREDS',
    'DBO_PAY_AMNT_GOSP','DBO_PAY_AMNT_INSH','DBO_PAY_AMNT_MLM','DBO_PAY_AMNT_OTHR'
    ]
    #dftest is a part of dataset created above
    dftest = pandas.DataFrame(columns=('type', 'F1', 'val'))
    
    for index, row in tqdm(df.iterrows()):
        if(row['type'] in coltest):
            dftest.loc[len(dftest)] = row
            continue
    #plot heatmap   
    fig, ax = plt.subplots(figsize=(40,30)) 
    platform_genre_sales = dftest.pivot_table(
                            index='type', 
                            columns='F1', 
                            values='val', 
                            aggfunc=sum).fillna(0).applymap(float)
    temp = sns.heatmap(platform_genre_sales, annot=True, fmt=".1f", linewidths=.5, ax=ax, cmap="gist_stern")
    fig.savefig(os.getcwd()+"\\Maps\\NonActive\\DBO_AMNT\\"+month.strip('"').split(' ')[0]+"_DBO_AMNT.png")

In [ ]:
#Подсчет смены активности людей

In [8]:
dict={}      
     
for month in tqdm(months):
    dict[month]={}
    d = dfheat.loc[(dfheat['REPORT_MONTH']==month)]
    for index, row in tqdm(d.iterrows()):
        dict[month][row['CLIENT_HASH_ID']] = row['ACTIVE_FLAG']

In [9]:
for key in dict:
    dict[key.strip('"').split(' ')[0].replace('-','')] = dict.pop(key)

In [10]:
print( sorted(dict.keys()))

[u'20150101', u'20150201', u'20150301', u'20150401', u'20150501', u'20150601', u'20150701', u'20150801', u'20150901', u'20151001', u'20151101', u'20151201', u'20160101', u'20160201', u'20160301', u'20160401', u'20160501', u'20160601', u'20160701']

In [11]:
nameslastval = {}
for name in unique(dfheat['CLIENT_HASH_ID']):
    nameslastval[name]=dict[sorted(dict.keys())[0]][name]

In [12]:
nameschange = {}
for name in unique(dfheat['CLIENT_HASH_ID']):
    nameschange[name] =0;
for month in sorted(dict.keys()):
    for name in unique(dfheat['CLIENT_HASH_ID']):
        if dict[month][name] != nameslastval[name]:
            nameschange[name] += 1
            nameslastval[name] = dict[month][name]

In [13]:
nameschange
f = open("ActiveFlagChange.txt","w")
for key in nameschange:
    f.write( str(key)+" "+str(nameschange[key]) )
    f.write('\n')
f.close()

In [14]:
l = {}
for key in nameschange:    
    l[nameschange[key]] = 0
for key in nameschange:    
    l[nameschange[key]] += 1
l

{0: 24783,
 1: 9049,
 2: 2872,
 3: 3867,
 4: 929,
 5: 1105,
 6: 293,
 7: 293,
 8: 110,
 9: 84,
 10: 35,
 11: 29,
 12: 16,
 13: 2,
 14: 4,
 15: 1,
 16: 1}

In [15]:
SubstractValList = [ 'TRN_CNT',
 'TRN_CNT_POS',
 'TRN_CNT_ATM',
 'TRN_AMNT',
 'TRN_AMNT_POS',
 'TRN_AMNT_ATM',
 'CONTRACT_TURN_AMOUNT',
 'SALARY_INCOME',
 'DBO_AUTH_WWW',
 'DBO_AUTH_MB',
 'DBO_OPER_CNT',
 'DBO_REM_CNT',
 'DBO_PAY_CNT',
 'DBO_OPER_AMNT',
 'DBO_REM_AMNT',
 'DBO_PAY_AMNT',]

dropStrings=['CLIENT_HASH_ID',
 'ACTIVE_FLAG',
 'GOOD_PHONE',
 'GOOD_EMAIL',
 u'GENDER',
 u'F1',
 u'AGE']

In [16]:
dfdelta = dfheat.drop(labels,1)

In [17]:
df=[]
for key in tqdm(nameschange):
    dkey = dfdelta.loc[dfdelta['CLIENT_HASH_ID']==key].sort(['REPORT_MONTH'], ascending=[True])
    ddiff = dkey.drop(dropStrings,1).set_index('REPORT_MONTH').diff().values
    dkey =  dkey.drop(SubstractValList,1).values
    for i in range(len(dkey)-2):
        if ((dkey[i][2] == 1) & (dkey[i+1][2] == 1)):
            info = dkey[i+1]
            info[2] = dkey[i+2][2]
            df.append(np.append(info,ddiff[i+1]))

In [18]:
dkey = dfdelta.loc[dfdelta['CLIENT_HASH_ID']==key].sort(['REPORT_MONTH'], ascending=[True])

l1 = list(dkey.drop(dropStrings,1))
l2 = list(dkey.drop(SubstractValList,1))
dfcols = l2+l1[1:]
temp = pandas.DataFrame(data=df,columns=dfcols)
temp.to_csv('deltasSubstraction.csv',index=False,quoting=csv.QUOTE_NONE)

In [25]:
dfdelatas = pandas.read_csv('deltasSubstraction.csv',sep=";|,", engine="python")

In [26]:
dfdelatas = dfdelatas.drop(['GOOD_PHONE','GOOD_EMAIL'],1)

In [27]:
dfdelatas.to_csv('deltasSubstraction.csv',index=False,quoting=csv.QUOTE_NONE)